# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.eslintrc.json
.idea/workspace.xml
package.json
public/
src/__tests__/__snapshots__/
src/index.jsx
src/reportWebVitals.js
src/setupTests.js
yarn.lock
.env
.idea
